@model MyFirstMVC.Models.Church
@{
    ViewBag.Title = "NewChurch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Εισαγωγή νέας Εκκλησίας </h2>

@using (Html.BeginForm("Save", "Churches"))
{

    <div class="form-group">
        <h4>
            @Html.LabelFor(m => m.Name)
        </h4>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsBasic) Βασική
        </label>

    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsOreini) Ορεινή
        </label>

    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsPanigirizousa) Πανηγυρίζουσα
        </label>

    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsIeraMoni) Ιερά Μονή
        </label>
    </div>


    @Html.HiddenFor(m => m.Id);

    <button type="submit" class="btn btn-primary">Αποθηκευση</button>
}
