@model MyFirstMVC.ViewModels.PriestCategories


@{
    ViewBag.Message = "AvailableByCategory";
    int i = 0;
}

@*
    This is a comment on multiple lines
*@

@{ var className = Model.Efimerioi.Count > 3 ? "popular" : null;
}

@*@{
        var trClass = string.IsNullOrEmpty(Model.Priests) ? "hide" : "";
    }
*@


    <link rel="stylesheet" href="~/Content/chosen.css" >
      <script src="~/Scripts/chosen.jquery.js"> </script>



@if (Model.Efimerioi.Count == 0 && Model.Epoxiakoi.Count == 0 && Model.Ierokyrikes.Count == 0)
{
    <h2> Αδυναμία εύρεσης ιερέων.</h2>
    <p>
        <strong>
            Δεν υπάρχει κανένας διαθέσιμος ιερέας στη βάση δεδομένων σε κάποια κατηγορία (εφημέριος,εποχιακός,ιεροκήρυκας).<br>
            Παρακαλώ εισάγεται κάποιον πηγαίνοντας στην καρτέλα --> <a href="/Priests/Index"> "Επεξεργασία Ιερέα" </a>
        </strong>
    </p>
}
else if (Model.AssignedChurches.Count == 0)
{
    <h2> Αδυναμία εύρεσης εκκλησιών.</h2>
    <p>
        <strong>
            Δεν υπάρχει καμμία εκκλησία στη βάση δεδομένων.<br>
            Παρακαλώ εισάγεται κάποιον πηγαίνοντας στην καρτέλα --> <a href="/Churches/New"> "Προσθήκη εκκλησίας" </a>
        </strong>
    </p>
}


else
{
    <h2> Διαθέσιμοι Ιερείς για Ανάθεση</h2>
    using(Html.BeginForm())
    {
<div class="form-group">

    @Html.LabelFor(m => m.AllAvailablePriests)
    @*@Html.DropDownListFor(m => m.AllAvailablePriests, new SelectList(Model.AllAvailablePriests, "LastName", "LastName", "Επιλέξτε Διαθέσιμο  Ιερέα για ανάθεση"), new { @class = "form-control chosen-select" })*@
    @Html.DropDownListFor(x => x.AllAvailablePriests,Model.AllAvailablePriests.Select(x=>new SelectListItem { Text= x.LastName.ToString(), Value = x.LastName.ToString() }), new { @class = "form-control chosen-select" ,})
</div>

            <h2> Εκκλησίες</h2>

            <div class="form-group">

                @Html.LabelFor(m => m.AssignedChurches)
                @*@Html.DropDownListFor(m => m.AssignedChurches, new SelectList(Model.AssignedChurches, "Name", "Name", "Επιλέξτε σε ποια εκκλησία"), new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.AssignedChurches, Model.AssignedChurches.Select(x => new SelectListItem { Text = x.Name.ToString(), Value = x.Name.ToString() }), new { @class = "form-control chosen-select", })

            </div>


            @Html.EditorFor(model => model.DatePicker, new { HtmlTextWriterAttribute = new { @class = "datepicker" } });

            }
            <button type="submit" class="btn btn-primary">Αναθεση</button>
        }




<script> $('.chosen-select').chosen();</script>